﻿@{
    ViewBag.Title = "Home Page";
}


<h2>Total Distance of any Route</h2>
<br />
@using (Ajax.BeginForm("RouteTotalDistanceRecursively", "RouteMap",
            new AjaxOptions
            {
                UpdateTargetId = "content",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "loaderB64",
                LoadingElementDuration = 2500
            }))
{
    <label for="inputGraph">Input the Directed Graph: </label>
    <input id="inputGraph" name="inputGraph" class="length" type="text" value="AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" placeholder="Ex. AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" />
    
    <label for="route">Input the Route: </label>
    <input id="route" name="route" class="length" type="text" value="" placeholder="Ex. A-B-C" />
    <br />
    
    <input type="submit" value="Compute Total Distance of Route" />
 }
<br />

<div id="content"></div>

<br />
<br />

<hr />

<h2>Shortest Route Between Two Towns</h2>
<br />
@using (Ajax.BeginForm("ShortestRouteBetweenTwoTowns", "RouteMap",
            new AjaxOptions
            {
                UpdateTargetId = "shcontent",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "loaderB64",
                LoadingElementDuration = 2500
            }))
{
    <label for="inputGraph">Input the Directed Graph: </label>
    <input id="inputGraph" name="inputGraph" class="length" type="text" value="AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" placeholder="Ex. AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" />
    
    <label for="route">Input the Route: </label>
    <input id="route" name="route" class="length" type="text" value="" placeholder="Ex. A-C" />
    <br />
    
    <input type="submit" value="Compute the Shortest Route" />
 }
<br />

<div id="shcontent"></div>


<br />
<br />

<hr />

<h2>All Available Routes between two towns with a maximun of n stops </h2>
<br />
@using (Ajax.BeginForm("RoutesWithMaxStops", "RouteMap",
            new AjaxOptions
            {
                UpdateTargetId = "avecontent",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                LoadingElementId = "loaderB64",
                LoadingElementDuration = 2500
            }))
{
    <label for="inputGraph">Input the Directed Graph: </label>
    <input id="inputGraph" name="inputGraph" class="length" type="text" value="AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" placeholder="Ex. AB5, BC4, CD8, DC8, DE6, AD5, CE2, EB3, AE7" />
    
    <label for="route">Input the Route: </label>
    <input id="route" name="route" class="length" type="text" value="" placeholder="Ex. A-D" />
    
    <label for="maxStops">Input Maximum of Stops: </label>
    <input id="maxStops" name="maxStops" class="length" type="text" value="3" placeholder="Ex. 3" />
    <br />
    
    <input type="submit" value="Compute All Available Routes" />
 }
<br />

<div id="avecontent"></div>