﻿@model Mvc4_AvenueCode.Models.TAnswer
@{
    ViewBag.Title = "Total Distance of Route";
}

<div>
    @{
        if (Model.value > 0)
        {
        <span>The Route: @Model.route </span><span> has a Distance: @Model.value</span>
        }
        else
        {
        <span>The Route: @Model.route </span><span>. @Model.response</span>
        }
    }
</div>
